.box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    .boxtitle {
        width: 100%;
        font-family: "Permanent Marker", cursive;
    }
    &__list {
        width: 40%;
        height: 400px;
        background-color: white;
        border: 10px solid rgb(71, 60, 60);
        border-radius: 5px;
    }
    &__ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}