.header {
    width: 100%;
    height: auto;
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__image {
        margin-top: 10px;
        width: 250px;
    }
    &__main {
        width: 80%;
        height: auto;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        }
}

.user-image {
    width: 200px;
}