.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    align-items: center;
    background-color: rgb(19, 17, 17);

    .main-text{
        font-family: "Permanent Marker", cursive;
        color: #0c5c8a;
        padding-left: 50px;
    }
    .main-list {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 50px;
    li {
        margin: 30px;
    }
    }

}
