.section {
  width: 100%;
  height: auto;
  text-align: right;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // background-color: rgb(19, 17, 17);
    padding: 10px;
  }
  &__text {
    width: 90%;
    height: auto;
    border: 2px solid rgb(62, 124, 115);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    .list {
      text-align: center;
      &-title {
        font-weight: bold;
        font-family: "Permanent Marker", cursive;
      }
    }
    h1 {
      width: 100%;
      font-family: "Permanent Marker", cursive;
    }
    
    &-recipe {
      width: 100%;
      padding:  0 20px;
    }
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
.list-img {
  width: 500px;
}
.hide-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  label,
  input {
    margin: 5px;
  }
}
.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
