.App {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1595602881855-b1ce060f6673?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  background-size: contain;
}
